.page img.handle {
}
.page .position {
	font-weight:bold;
	text-align:center;
}
.page .path {
	width: 140px;
}
.page .menu {
	width: 140px;
}
.page .title {
	width: 140px;
}
.page .manage {
	text-align:right;
}

.page.row.ui-sortable-helper {
	border: 1px dashed #E7C254;
}
